<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SQ"
        tools:targetApi="31">
        <activity
            android:name=".Tips"
            android:exported="false" />
        <activity
            android:name=".Finish"
            android:exported="false" />
        <activity
            android:name=".Final_task"
            android:exported="false" />
        <activity
            android:name=".Task"
            android:exported="false" />
        <activity
            android:name=".Station_7"
            android:exported="false" />
        <activity
            android:name=".Station_6"
            android:exported="false" />
        <activity
            android:name=".Station_5"
            android:exported="false" />
        <activity
            android:name=".Station_4"
            android:exported="false" />
        <activity
            android:name=".Station_3"
            android:exported="false" />
        <activity
            android:name=".Station_2"
            android:exported="false" />
        <activity
            android:name=".Station_1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>